.comment
	%p= comment.comment
	%p 
		by
		=comment.user.email
		=link_to "Edit", edit_article_comment_path(comment.article, comment)
		=link_to "Delete", [comment.article, comment], method: :delete, data: { confirm: "are you sure to delete?"}