%h1=Welcome to Magazine App
- @articles.each do |article|
	%h2= link_to article.title, article	
	%p
		Published at
		=time_ago_in_words(article.created_at)
		by author:
		=article.user.email

= link_to "New Article", new_article_path