#article_content
	%h1= @article.title
	%p= @article.body
	%p
		%h3 comments
		%h3= @article.comments.count
		= render @article.comments
		%h4 Reply
		= render "comments/form"


= link_to "Edit", edit_article_path(@article)
= link_to "Delete", article_path(@article), method: :delete, data: { confirm: "Are are sure want to delete this?" }
= link_to "Home", root_path